body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16px;
}


/* TODO: same class as bootstrap */
.board .row {
  display: flex;
  margin: 0;
}

.board {
  --board-font-size: 8px;
  font-size: var(--board-font-size);
}

.board button {
  cursor: default;
}

/* Icons */
.icon {
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.icon-bomb {
  /* background-image: url('img/bomb-icon.png'); */
  background-image: url('assets/svg/bomb.svg');
}

.icon-flag {
  /* background-image: url('img/flag-icon.png'); */
  background-image: url('assets/svg/flag.svg');
}

.icon-question {
  /* background-image: url('img/question-mark-icon.png'); */
  background-image: url('assets/svg/question-mark.svg');
}

.cell {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  line-height: 3em;
  margin-top: -1px;
  margin-left: -1px;
  padding: 0;
  font-size: 1.2em;
  font-weight: 700;
  outline: 0;
  user-select: none;
  background: rgba(137,196,250,1);
  background: -moz-linear-gradient(top, rgba(137,196,250,1) 0%, rgba(127,163,201,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(137,196,250,1)), color-stop(100%, rgba(127,163,201,1)));
  background: -webkit-linear-gradient(top, rgba(137,196,250,1) 0%, rgba(127,163,201,1) 100%);
  background: -o-linear-gradient(top, rgba(137,196,250,1) 0%, rgba(127,163,201,1) 100%);
  background: -ms-linear-gradient(top, rgba(137,196,250,1) 0%, rgba(127,163,201,1) 100%);
  background: linear-gradient(to bottom, rgba(137,196,250,1) 0%, rgba(127,163,201,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c4fa', endColorstr='#7fa3c9', GradientType=0 );
}

.cell:active {
  border-style: outset;
}

.cell:not(.cell-revealed):active {
  background: rgba(127,163,201,1);
  background: -moz-linear-gradient(top, rgba(127,163,201,1) 0%, rgba(137,196,250,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(127,163,201,1)), color-stop(100%, rgba(137,196,250,1)));
  background: -webkit-linear-gradient(top, rgba(127,163,201,1) 0%, rgba(137,196,250,1) 100%);
  background: -o-linear-gradient(top, rgba(127,163,201,1) 0%, rgba(137,196,250,1) 100%);
  background: -ms-linear-gradient(top, rgba(127,163,201,1) 0%, rgba(137,196,250,1) 100%);
  background: linear-gradient(to bottom, rgba(127,163,201,1) 0%, rgba(137,196,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fa3c9', endColorstr='#89c4fa', GradientType=0 );
}

.cell .icon {
  width: 1.5em;
  height: 1.5em;
}

.cell-revealed {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(222,240,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(222,240,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(222,240,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(222,240,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(222,240,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(222,240,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#def0ff', GradientType=0 );
}

.cell-1 { color: blue; }
.cell-2 { color: green; }
.cell-3 { color: red; }
.cell-4 { color: darkblue; }
.cell-5 { color: brown; }
.cell-6 { color: cyan; }
.cell-7 { color: crimson; }
.cell-8 { color: firebrick; }

.clicked-bomb {
  background: red;
}

.marked-invalid::after {
  content: 'X';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4em;
  /* line-height: 40px; */
  text-align: center;
  color: rgba(255, 0, 0, 0.3);
}

.panels {
  width: 250px;
  padding-right: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
}

.info-panel img {
  vertical-align: middle;
}

.info-panel span {
  display: inline-block;
  line-height: 1.5;
}

.info-item span:not(:first-child) {
  position: relative;
  top: 1px;
  margin-left: 8px;
}

.info-panel .info-item:nth-of-type(3) {
  margin-top: 25px;
}

.info-panel a {
  display: inline-block;
  margin-top: 10px;

  font-size: 0.9em;
  color: teal;
  text-decoration: none;
}

.game {
  display: flex;
}

.control-panel button {
  display: block;
}

.control-panel button:not(:first-child) {
  margin-top: 8px;
}

.board-settings-wrapper {
  display: flex;
  margin: 24px 0;
}


.edit-settings-button {
  flex-shrink: 0;
  margin-left: 16px;
  padding: 6px 0;
  border: none;
  font-size: 0.9em;
  background-color: transparent;
  color: teal;
}

.edit-settings-button[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}

.edit-settings-button .glyphicon {
  margin-right: 4px;
}

.edit-settings-button:hover {
  color: darkturquoise;
}

.tab-content {
  padding: 16px 24px;
}

.table-row-won {
  background-color: #d4edda;
}

.table-row-lost {
  background-color: #f8d7da;
}

.sort-header {
  cursor: pointer;
}

.sort-header svg {
  display: none;
}

.sort-active svg {
  display: inline-block;
  margin-right: 8px;
}

.sort-active.ascending svg {
  transform: rotate(180deg);
}